
table {
    width: 703px !important;
    height: 706px !important;
}

.row {
    margin: 15px;
}

.vertical {
    width: 56px;
    height: 100px;
}

.horizontal {
    width: 100px;
    height: 56px;
}

.f1 {
    height: 101px; 
    
}

tr {

}

