.icons {
    text-align: center;
}

img {
    margin: 10px;
}

.icons-value {
    text-align: center;
}

.icons-value input{
    margin-left: 60px;
    margin-right: 60px;
}

.name {
    margin: 5px;
}